<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="dao.BaseBasAccountTypeSettingMapper">
	<sql id="columnScope">
		<if test="account_set != null">ACCOUNT_SET, </if>
		<if test="legal_person != null">LEGAL_PERSON, </if>
		<if test="currency_used != null">CURRENCY_USED, </if>
		<if test="reference_table_no != null">REFERENCE_TABLE_NO, </if>
		<if test="current_year != null">CURRENT_YEAR, </if>
		<if test="current_period != null">CURRENT_PERIOD, </if>
		<if test="closing_date != null">CLOSING_DATE, </if>
		<if test="cost_calculation_type != null">COST_CALCULATION_TYPE, </if>
		<if test="legal_person_name != null">LEGAL_PERSON_NAME, </if>
		<if test="currency_used_description != null">CURRENCY_USED_DESCRIPTION, </if>
		<if test="reference_table_description != null">REFERENCE_TABLE_DESCRIPTION, </if>
		<if test="acctount_set_description != null">ACCTOUNT_SET_DESCRIPTION, </if>
		<if test="status_code != null">STATUS_CODE, </if>
		<if test="data_created_date != null">DATA_CREATED_DATE, </if>
		<if test="language != null">LANGUAGE, </if>
	</sql>

	<!-- INSERT -->
	<insert id="addBasAccountType" parameterType="java.util.Map">
		INSERT INTO BAS_ACCOUNT_TYPE
		<trim prefix=" (" suffix=") " suffixOverrides=", ">
			<include refid="columnScope" />
		</trim>
		VALUES
		<trim prefix=" (" suffix=") " suffixOverrides=", ">

			<if test="account_set != null">#{account_set}, </if>
			<if test="legal_person != null">#{legal_person}, </if>
			<if test="currency_used != null">#{currency_used}, </if>
			<if test="reference_table_no != null">#{reference_table_no}, </if>
			<if test="current_year != null">#{current_year}, </if>
			<if test="current_period != null">#{current_period}, </if>
			<if test="closing_date != null">#{closing_date}, </if>
			<if test="cost_calculation_type != null">#{cost_calculation_type}, </if>
			<if test="legal_person_name != null">#{legal_person_name}, </if>
			<if test="currency_used_description != null">#{currency_used_description}, </if>
			<if test="reference_table_description != null">#{reference_table_description}, </if>
			<if test="acctount_set_description != null">#{acctount_set_description}, </if>
			<if test="status_code != null">'Y', </if>
			<if test="data_created_date != null">#{data_created_date}, </if>
			<if test="language != null">'zh_CN', </if>
		</trim>
	</insert>

	<!-- UPDATE -->
	<update id="modifyBasAccountType" parameterType="java.util.Map">
		UPDATE BAS_ACCOUNT_TYPE SET
		<trim prefix=" " suffix=" " suffixOverrides=", ">

			<if test="legal_person != null">LEGAL_PERSON=#{legal_person}, </if>
			<if test="currency_used != null">CURRENCY_USED=#{currency_used}, </if>
			<if test="reference_table_no != null">REFERENCE_TABLE_NO=#{reference_table_no}, </if>
			<if test="current_year != null">CURRENT_YEAR=#{current_year}, </if>
			<if test="current_period != null">CURRENT_PERIOD=#{current_period}, </if>
			<if test="closing_date != null">CLOSING_DATE=#{closing_date}, </if>
			<if test="cost_calculation_type != null">COST_CALCULATION_TYPE=#{cost_calculation_type}, </if>
			<if test="legal_person_name != null">LEGAL_PERSON_NAME=#{legal_person_name}, </if>
			<if test="currency_used_description != null">CURRENCY_USED_DESCRIPTION=#{currency_used_description}, </if>
			<if test="reference_table_description != null">REFERENCE_TABLE_DESCRIPTION=#{reference_table_description}, </if>
			<if test="acctount_set_description != null">ACCTOUNT_SET_DESCRIPTION=#{acctount_set_description}, </if>
			<if test="last_modified_date != null">last_modified_date = #{last_modified_date}, </if>
			<if test="status_code != null">STATUS_CODE=#{STATUS_CODE}, </if>
		</trim>
		WHERE ACCOUNT_SET = #{account_set} AND LANGUAGE=#{language}
	</update>

	<!-- DELETE -->
	<delete id="deleteBasAccountType" parameterType="java.util.Map">
		DELETE FROM BAS_ACCOUNT_TYPE WHERE ACCOUNT_SET = #{account_set} AND LANGUAGE=#{language}
	</delete>

	<!-- SEARCH -->
	<select id="getBasAccountTypeList" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT account_set,legal_person,currency_used,language,legal_person_name,currency_used_description,acctount_set_description,status_code
		FROM BAS_ACCOUNT_TYPE
		<where>
			<if test="account_set != null and account_set != ''">AND account_set = #{account_set} </if>
			<if test="currency_used != null and currency_used != ''">AND currency_used = #{currency_used} </if>
			<if test="legal_person != null and legal_person != ''">AND legal_person = #{legal_person} </if>
			<if test="language != null and language != ''">AND language = #{language} </if>
			<if test="status_code != null and status_code != ''">AND status_code = #{status_code} </if>
		</where>
		LIMIT #{start}, #{pageRows}
	</select>

	<select id="getBasAccountTypeDetail" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
		account_set,legal_person,currency_used,reference_table_no,current_year,current_period,closing_date,cost_calculation_type,language,legal_person_name,currency_used_description,reference_table_description,acctount_set_description,status_code
		FROM BAS_ACCOUNT_TYPE WHERE ACCOUNT_SET = #{account_set} AND LANGUAGE=#{language}
	</select>

	<select id="getBasAccountTypeTotalRows" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT COUNT(*) AS totalRows FROM BAS_ACCOUNT_TYPE
		<where>
			<if test="account_set != null and account_set != ''">AND account_set = #{account_set} </if>
			<if test="currency_used != null and currency_used != ''">AND currency_used = #{currency_used} </if>
			<if test="legal_person != null and legal_person != ''">AND legal_person = #{legal_person} </if>
			<if test="language != null and language != ''">AND language = #{language} </if>
			<if test="status_code != null and status_code != ''">AND status_code = #{status_code} </if>
		</where>
	</select>
</mapper>