<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 付款条件维护作业 -->
<!-- @author lusy -->
<mapper namespace="dao.BaseBasPaymentConditionSettingMapper">
	<select id="selectCount" resultType="hashmap" parameterType="hashmap">
			SELECT COUNT(*) FROM BAS_PAYMENT_TERM where 1=1
			<!-- 付款条件编号 -->
			<if test="payment_term!=null and payment_term!=''">
				AND payment_term LIKE '%' #{payment_term} '%'
			</if>
			<!-- 付款条件说明 -->
			<if test="payment_term_description!=null and payment_term_description!=''">
				AND payment_term_description LIKE '%' #{payment_term_description} '%'
			</if>
			<if test="payment_type_property!=null and payment_type_property!=''">
				AND payment_type_property=#{payment_type_property}
			</if>
			<if test="is_deposit_received!=null and is_deposit_received!=''">
				AND is_deposit_received=#{is_deposit_received}
			</if>
			<if test="is_transaction_paid!=null and is_transaction_paid!=''">
				AND is_transaction_paid=#{is_transaction_paid}
			</if>
			<if test="down_payment_type!=null and down_payment_type!=''">
				AND down_payment_type=#{down_payment_type}
			</if>
			<if test="multiple_acctperiod_type!=null and multiple_acctperiod_type!=''">
				AND multiple_acctperiod_type=#{multiple_acctperiod_type}
			</if>
			<if test="multiple_acctperiod_discription!=null and multiple_acctperiod_discription!=''">
				AND multiple_acctperiod_discription=#{multiple_acctperiod_discription}
			</if>
			<if test="payment_favorable_term!=null and payment_favorable_term!=''">
				AND payment_favorable_term=#{payment_favorable_term}
			</if>
			<if test="payment_favorableterm_description!=null and payment_favorableterm_description!=''">
				AND payment_favorableterm_description=#{payment_favorableterm_description}
			</if>
			<if test="language!=null and language!=''">
				AND language=#{language}
			</if>
			<if test="status_code != null and status_code != ''">
				AND status_code = #{status_code}
			</if>
	</select>
	<select id="selectLimit" resultType="hashmap" parameterType="hashmap">
			SELECT status_code,payment_term,payment_term_description,payment_type_property,is_deposit_received,is_transaction_paid,down_payment_type,multiple_acctperiod_type,multiple_acctperiod_discription,payment_favorable_term,payment_favorableterm_description,payable_starting_standard,receivable_payment_season,receivable_payment_month,receivable_payment_day,account_starting_standard,account_redeem_season,account_redeem_month,account_redeem_date
			FROM BAS_PAYMENT_TERM WHERE 1=1 
			<!-- 付款条件编号 -->
			<if test="payment_term!=null and payment_term!=''">
				AND payment_term LIKE '%' #{payment_term} '%'
			</if>
			<!-- 付款条件说明 -->
			<if test="payment_term_description!=null and payment_term_description!=''">
				AND payment_term_description LIKE '%' #{payment_term_description} '%'
			</if>
			<if test="payment_type_property!=null and payment_type_property!=''">
				AND payment_type_property=#{payment_type_property}
			</if>
			<if test="is_deposit_received!=null and is_deposit_received!=''">
				AND is_deposit_received=#{is_deposit_received}
			</if>
			<if test="is_transaction_paid!=null and is_transaction_paid!=''">
				AND is_transaction_paid=#{is_transaction_paid}
			</if>
			<if test="down_payment_type!=null and down_payment_type!=''">
				AND down_payment_type=#{down_payment_type}
			</if>
			<if test="multiple_acctperiod_type!=null and multiple_acctperiod_type!=''">
				AND multiple_acctperiod_type=#{multiple_acctperiod_type}
			</if>
			<if test="multiple_acctperiod_discription!=null and multiple_acctperiod_discription!=''">
				AND multiple_acctperiod_discription=#{multiple_acctperiod_discription}
			</if>
			<if test="payment_favorable_term!=null and payment_favorable_term!=''">
				AND payment_favorable_term=#{payment_favorable_term}
			</if>
			<if test="payment_favorableterm_description!=null and payment_favorableterm_description!=''">
				AND payment_favorableterm_description=#{payment_favorableterm_description}
			</if>
			<if test="language!=null and language!=''">
				AND language=#{language}
			</if>
			<if test="status_code != null and status_code != ''">
				AND status_code = #{status_code}
			</if>
			ORDER BY LAST_MODIFIED_DATE DESC LIMIT #{startIndex},#{pageSize}
	</select>
	<update id="modifyPaymentCondition" parameterType="java.util.Map">
	  UPDATE BAS_PAYMENT_TERM SET
     <trim prefix=" " suffix=" " suffixOverrides=", ">
		<if test="data_owner!= null">DATA_OWNER=#{data_owner}, </if>
		<if test="data_owned_department!= null">DATA_OWNED_DEPARTMENT=#{data_owned_department}, </if>
		<if test="data_created_by!= null">DATA_CREATED_BY=#{data_created_by}, </if>
		<if test="data_created_department!= null">DATA_CREATED_DEPARTMENT=#{data_created_department}, </if>
		<if test="data_created_date!= null">DATA_CREATED_DATE=#{data_created_date}, </if>
		<if test="data_modified_by!= null">DATA_MODIFIED_BY=#{data_modified_by}, </if>
		<if test="last_modified_date!= null">LAST_MODIFIED_DATE=#{last_modified_date}, </if>
		<if test="status_code!= null">STATUS_CODE=#{status_code}, </if>
		<if test="payment_type_property!= null">payment_type_property=#{payment_type_property}, </if>
		<if test="payment_favorable_term!= null">payment_favorable_term=#{payment_favorable_term}, </if>
		<if test="is_deposit_received!= null">IS_DEPOSIT_RECEIVED=#{is_deposit_received}, </if>
		<if test="is_transaction_paid!= null">IS_TRANSACTION_PAID=#{is_transaction_paid}, </if>
		<if test="payable_starting_standard!= null">PAYABLE_STARTING_STANDARD=#{payable_starting_standard}, </if>
		<if test="receivable_payment_season!= null">RECEIVABLE_PAYMENT_SEASON=#{receivable_payment_season}, </if>
		<if test="receivable_payment_month!= null">RECEIVABLE_PAYMENT_MONTH=#{receivable_payment_month}, </if>
		<if test="receivable_payment_day!= null">RECEIVABLE_PAYMENT_DAY=#{receivable_payment_day}, </if>
		<if test="account_starting_standard!= null">ACCOUNT_STARTING_STANDARD=#{account_starting_standard}, </if>
		<if test="account_redeem_season!= null">ACCOUNT_REDEEM_SEASON=#{account_redeem_season}, </if>
		<if test="account_redeem_month!= null">ACCOUNT_REDEEM_MONTH=#{account_redeem_month}, </if>
		<if test="account_redeem_date!= null">ACCOUNT_REDEEM_DATE=#{account_redeem_date}, </if>
		<if test="multiple_acctperiod_type!= null">multiple_acctperiod_type=#{multiple_acctperiod_type}, </if>
		<if test="down_payment_type!= null">DOWN_PAYMENT_TYPE=#{down_payment_type}, </if>
		<if test="payment_term_description!= null">PAYMENT_TERM_DESCRIPTION=#{payment_term_description}, </if>
		<if test="payment_favorableterm_description!= null">payment_favorableterm_description=#{payment_favorableterm_description}, </if>
		<if test="multiple_acctperiod_discription!= null">multiple_acctperiod_discription=#{multiple_acctperiod_discription}, </if>
	  </trim>
	       WHERE payment_term=#{payment_term} AND language=#{language}
	</update>
	<delete id="deletePaymentCondition" parameterType="java.util.Map">
	   DELETE FROM BAS_PAYMENT_TERM WHERE language=#{language} AND payment_term=#{payment_term}
	</delete>
	<update id="auditPaymentCondition" parameterType="java.util.List">
	        UPDATE BAS_PAYMENT_TERM
	        <trim prefix="SET" suffixOverrides=",">
				<if test="status_code !=null">
					status_code=#{status_code},
				</if>
				<if test="last_modified_date != null">
					last_modified_date=#{last_modified_date}, 
				</if>
			</trim>
	        WHERE 
	        	language=#{language} AND 
	        	payment_term=#{payment_term}
	</update>
	
	<sql id="columnScope">
	    <if test="data_owner!= null">DATA_OWNER, </if>
		<if test="data_owned_department!= null">DATA_OWNED_DEPARTMENT, </if>
		<if test="data_created_by!= null">DATA_CREATED_BY, </if>
		<if test="data_created_department!= null">DATA_CREATED_DEPARTMENT, </if>
		<if test="data_created_date!= null">DATA_CREATED_DATE, </if>
		<if test="data_modified_by!= null">DATA_MODIFIED_BY, </if>
		<if test="last_modified_date!= null">LAST_MODIFIED_DATE, </if>
		<if test="status_code!= null">STATUS_CODE, </if>
		<if test="payment_term!= null">payment_term, </if>
		<if test="payment_type_property!= null">payment_type_property, </if>
		<if test="payment_favorable_term!= null">payment_favorable_term, </if>
		<if test="is_deposit_received!= null">IS_DEPOSIT_RECEIVED, </if>
		<if test="is_transaction_paid!= null">IS_TRANSACTION_PAID, </if>
		<if test="payable_starting_standard!= null">PAYABLE_STARTING_STANDARD, </if>
		<if test="receivable_payment_season!= null">RECEIVABLE_PAYMENT_SEASON, </if>
		<if test="receivable_payment_month!= null">RECEIVABLE_PAYMENT_MONTH, </if>
		<if test="receivable_payment_day!= null">RECEIVABLE_PAYMENT_DAY, </if>
		<if test="account_starting_standard!= null">ACCOUNT_STARTING_STANDARD, </if>
		<if test="account_redeem_season!= null">ACCOUNT_REDEEM_SEASON, </if>
		<if test="account_redeem_month!= null">ACCOUNT_REDEEM_MONTH, </if>
		<if test="account_redeem_date!= null">ACCOUNT_REDEEM_DATE, </if>
		<if test="multiple_acctperiod_type!= null">multiple_acctperiod_type, </if>
		<if test="down_payment_type!= null">DOWN_PAYMENT_TYPE, </if>
		<if test="language!= null">LANGUAGE, </if>
		<if test="payment_term_description!= null">PAYMENT_TERM_DESCRIPTION, </if>
		<if test="payment_favorableterm_description!= null">payment_favorableterm_description, </if>
		<if test="multiple_acctperiod_discription!= null">multiple_acctperiod_discription, </if>
	</sql>
	<insert id="addPaymentCondition" parameterType="java.util.Map">
	    INSERT INTO BAS_PAYMENT_TERM
		<trim prefix=" (" suffix=") " suffixOverrides=", ">
			<include refid="columnScope" />
		</trim>
		VALUES
	  <trim prefix=" (" suffix=") " suffixOverrides=", ">
		<if test="data_owner!= null">#{data_owner}, </if>
		<if test="data_owned_department!= null">#{data_owned_department}, </if>
		<if test="data_created_by!= null">#{data_created_by}, </if>
		<if test="data_created_department!= null">#{data_created_department}, </if>
		<if test="data_created_date!= null">#{data_created_date}, </if>
		<if test="data_modified_by!= null">#{data_modified_by}, </if>
		<if test="last_modified_date!= null">#{last_modified_date}, </if>
		<if test="status_code!= null">#{status_code}, </if>
		<if test="payment_term!= null">#{payment_term}, </if>
		<if test="payment_type_property!= null">#{payment_type_property}, </if>
		<if test="payment_favorable_term!= null">#{payment_favorable_term}, </if>
		<if test="is_deposit_received!= null">#{is_deposit_received}, </if>
		<if test="is_transaction_paid!= null">#{is_transaction_paid}, </if>
		<if test="payable_starting_standard!= null">#{payable_starting_standard}, </if>
		<if test="receivable_payment_season!= null">#{receivable_payment_season}, </if>
		<if test="receivable_payment_month!= null">#{receivable_payment_month}, </if>
		<if test="receivable_payment_day!= null">#{receivable_payment_day}, </if>
		<if test="account_starting_standard!= null">#{account_starting_standard}, </if>
		<if test="account_redeem_season!= null">#{account_redeem_season}, </if>
		<if test="account_redeem_month!= null">#{account_redeem_month}, </if>
		<if test="account_redeem_date!= null">#{account_redeem_date}, </if>
		<if test="multiple_acctperiod_type!= null">#{multiple_acctperiod_type}, </if>
		<if test="down_payment_type!= null">#{down_payment_type}, </if>
		<if test="language!= null">#{language}, </if>
		<if test="payment_term_description!= null">#{payment_term_description}, </if>
		<if test="payment_favorableterm_description!= null">#{payment_favorableterm_description}, </if>
		<if test="multiple_acctperiod_discription!= null">#{multiple_acctperiod_discription}, </if>
	  </trim>
	</insert>
	 <!-- 判断付款条件是否存在记录 -->
    <select id="judgePaymentCondition" parameterType="hashmap" resultType="java.lang.Integer">
    	SELECT COUNT(1) 
    	  FROM BAS_PAYMENT_TERM
	   	<where>
	   		<!-- 币种参照表号 -->
			<if test="payment_term != null and payment_term != ''">
				payment_term = #{payment_term}
			</if>
			<if test="language != null and language != ''">
				AND language = #{language}
			</if>
	    </where>
    </select>
    <!-- 主键查找数据 -->
    <select id="getPaymentConditionOne" parameterType="hashmap" resultType="hashmap">
    	SELECT 
    		status_code,payment_term,payment_term_description,payment_type_property,
    		is_deposit_received,is_transaction_paid,down_payment_type,
    		multiple_acctperiod_type,multiple_acctperiod_discription,
    		payment_favorable_term,payment_favorableterm_description,
    		payable_starting_standard,receivable_payment_season,
    		receivable_payment_month,receivable_payment_day,
    		account_starting_standard,account_redeem_season,
    		account_redeem_month,account_redeem_date 
    	FROM BAS_PAYMENT_TERM
	   	<where>
	   		<!-- 币种参照表号 -->
			<if test="payment_term != null and payment_term != ''">
				payment_term = #{payment_term}
			</if>
			<if test="language != null and language != ''">
				AND language = #{language}
			</if>
	    </where>
    </select>
</mapper>
