<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 使用币种维护作业 -->
<mapper namespace="dao.BaseBasCurrencyUsedSettingMapper">

	<!-- 使用币种维护作业 表字段 BAS_CURRENCY_USED -->
	<sql id="columnScope">
		<if test="data_owner != null">data_owner,</if>
		<if test="data_owned_department != null">data_owned_department,</if>
		<if test="data_created_by != null">data_created_by,</if>
		<if test="data_created_department != null">data_created_department,</if>
		<if test="data_created_date != null">data_created_date,</if>
		<if test="data_modified_by != null">data_modified_by,</if>
		<if test="last_modified_date != null">last_modified_date,</if>
		<if test="status_code != null">status_code,</if>
		<if test="reference_table_no != null">reference_table_no,</if>
		<if test="currency_used != null">currency_used,</if>
		<if test="price_decimal != null">price_decimal,</if>
		<if test="amount_decimal != null">amount_decimal,</if>
		<if test="exchange_rate_accuracy != null">exchange_rate_accuracy,</if>
		<if test="cost_price_decimal != null">cost_price_decimal,</if>
		<if test="cost_amount_decimal != null">cost_amount_decimal,</if>
		<if test="language != null">language,</if>
		<if test="currency_used_description != null">currency_used_description,</if>
		<if test="reference_table_description != null">reference_table_description,</if>
	</sql>

	<!-- 测试连接 -->
	<select id="getAll" resultType="hashmap">
		SELECT * from BAS_CURRENCY_USED
	</select>
	<!-- 预设条件查询列表总数 -->
	<select id="selectCount" parameterType="hashmap" resultType="hashmap">
		SELECT count(*) 
		  FROM BAS_CURRENCY_USED 
		 <where>
			<if test="reference_table_no != null and reference_table_no != ''">
				reference_table_no = #{reference_table_no}
			</if>
			<if test="currency_used != null and currency_used != ''">
				AND currency_used = #{currency_used}
			</if>
			<if test="reference_table_description != null and reference_table_description != ''">
				AND reference_table_description = #{reference_table_description}
			</if>
			<if test="currency_used_description != null and currency_used_description != ''">
				AND currency_used_description = #{currency_used_description}
			</if>
			<if test="price_decimal != null and price_decimal != ''">
				AND price_decimal = #{price_decimal}
			</if>
			<if test="amount_decimal != null and amount_decimal != ''">
				AND amount_decimal = #{amount_decimal}
			</if>
			<if test="language != null and language != ''">
				AND language = #{language}
			</if>
			<if test="status_code != null and status_code != ''">
				AND status_code = #{status_code}
			</if>
		</where>
	</select>

	<!-- 根据预设条件查询币种列表（分页） -->
	<select id="getCurrencyList" parameterType="hashmap" resultType="hashmap">
		SELECT reference_table_no,reference_table_description,currency_used,currency_used_description,price_decimal,
			   amount_decimal,status_code,exchange_rate_accuracy,cost_price_decimal,cost_amount_decimal
		  FROM BAS_CURRENCY_USED
		<where>
			<if test="reference_table_no != null and reference_table_no != ''">
				reference_table_no = #{reference_table_no}
			</if>
			<if test="currency_used != null and currency_used != ''">
				AND currency_used = #{currency_used}
			</if>
			<if test="reference_table_description != null and reference_table_description != ''">
				AND reference_table_description = #{reference_table_description}
			</if>
			<if test="currency_used_description != null and currency_used_description != ''">
				AND currency_used_description = #{currency_used_description}
			</if>
			<if test="price_decimal != null and price_decimal != ''">
				AND price_decimal = #{price_decimal}
			</if>
			<if test="amount_decimal != null and amount_decimal != ''">
				AND amount_decimal = #{amount_decimal}
			</if>
			<if test="language != null and language != ''">
				AND language = #{language}
			</if>
			<if test="status_code != null and status_code != ''">
				AND status_code = #{status_code}
			</if>
		</where>
		ORDER BY last_modified_date DESC
		LIMIT #{startIndex}, #{pageSize}
	</select>
	
	<!-- 修改币种详细资料 -->
	<update id="updateBaseCurrencyInfo" parameterType="hashmap" >
		UPDATE BAS_CURRENCY_USED SET
		<trim prefix=" " suffix=" " suffixOverrides=", ">
			<if test="data_owner != null">data_owner=#{data_owner},</if>
			<if test="data_owned_department != null">data_owned_department=#{data_owned_department},</if>
			<if test="data_created_by != null">data_created_by=#{data_created_by},</if>
			<if test="data_created_department != null">data_created_department=#{data_created_department},</if>
			<if test="data_created_date != null">data_created_date=#{data_created_date},</if>
			<if test="data_modified_by != null">data_modified_by=#{data_modified_by},</if>
			<if test="last_modified_date != null">last_modified_date=#{last_modified_date},</if>
			<if test="status_code != null">status_code=#{status_code},</if>
			<if test="price_decimal != null">price_decimal=#{price_decimal},</if>
			<if test="amount_decimal != null">amount_decimal=#{amount_decimal},</if>
			<if test="exchange_rate_accuracy != null">exchange_rate_accuracy=#{exchange_rate_accuracy},</if>
			<if test="cost_price_decimal != null">cost_price_decimal=#{cost_price_decimal},</if>
			<if test="cost_amount_decimal != null">cost_amount_decimal=#{cost_amount_decimal},</if>
			<if test="currency_used_description != null">currency_used_description=#{currency_used_description},</if>
			<if test="reference_table_description != null">reference_table_description=#{reference_table_description},</if>
		</trim>
		<where>
		    <!-- 币种参照表号 -->
			<if test="reference_table_no != null and reference_table_no != ''">
				reference_table_no = #{reference_table_no}
			</if>
			<!-- 使用币种 -->
			<if test="currency_used != null and currency_used != ''">
				AND currency_used = #{currency_used}
			</if>
			<!-- 语言别 -->
			<if test="language != null and language != ''">
				AND language = #{language}
			</if>
		</where> 
	</update>
	 
	 <!-- 判断币种是否存在记录 -->
    <select id="judgeCurrencyUsed" parameterType="hashmap" resultType="java.lang.Integer">
    	SELECT COUNT(1) 
    	  FROM BAS_CURRENCY_USED 
	   	<where>
	   		<!-- 币种参照表号 -->
			<if test="reference_table_no != null and reference_table_no != ''">
				reference_table_no = #{reference_table_no}
			</if>
			<!-- 使用币种 -->
			<if test="currency_used != null and currency_used != ''">
				AND currency_used = #{currency_used}
			</if>
			<if test="language != null and language != ''">
				AND language = #{language}
			</if>
	    </where>
    </select>
	 
	 <!-- 新增币种详细资料 -->
	 <insert id="addCurrencyUsed" parameterType="hashmap">
	 	INSERT INTO BAS_CURRENCY_USED
	 	<trim prefix=" (" suffix=") " suffixOverrides=", ">
	 		<include refid="columnScope"></include>
	 	</trim>
	 	VALUES
	 	<trim prefix=" (" suffix=") " suffixOverrides=", ">
	 		<if test="data_owner != null">#{data_owner},</if>
			<if test="data_owned_department != null">#{data_owned_department},</if>
			<if test="data_created_by != null">#{data_created_by},</if>
			<if test="data_created_department != null">#{data_created_department},</if>
			<if test="data_created_date != null">#{data_created_date},</if>
			<if test="data_modified_by != null">#{data_modified_by},</if>
			<if test="last_modified_date != null">#{last_modified_date},</if>
			<if test="status_code != null">'Y',</if>
			<if test="reference_table_no != null">#{reference_table_no},</if>
			<if test="currency_used != null">#{currency_used},</if>
			<if test="price_decimal != null">#{price_decimal},</if>
			<if test="amount_decimal != null">#{amount_decimal},</if>
			<if test="exchange_rate_accuracy != null">#{exchange_rate_accuracy},</if>
			<if test="cost_price_decimal != null">#{cost_price_decimal},</if>
			<if test="cost_amount_decimal != null">#{cost_amount_decimal},</if>
			<if test="language != null">'zh_CN',</if>
			<if test="currency_used_description != null">#{currency_used_description},</if>
			<if test="reference_table_description != null">#{reference_table_description},</if>
	 	</trim>
	 </insert>
	 
	 <!-- 批量删除 -->
	 <delete id="deleteBaseCurrencyInfo" parameterType="hashmap">
        DELETE FROM BAS_CURRENCY_USED 
        <where>
        	<if test="reference_table_no != null and reference_table_no != ''">
        		reference_table_no = #{reference_table_no}
        	</if>
        	<if test="currency_used != null and currency_used != ''">
        		AND currency_used = #{currency_used}
        	</if>
        	<if test="language != null and language != ''">
        		AND language = #{language}
        	</if>
        </where>
    </delete>
    
    <!-- 审核申请单 -->
    <update id="auditCurrency" parameterType="hashmap">
    	UPDATE BAS_CURRENCY_USED
    	   SET 
    	   <trim prefix=" " suffix=" " suffixOverrides=", ">
			<if test="status_code != null">status_code=#{status_code},</if>
			<if test="data_modified_by != null">data_modified_by=#{data_modified_by},</if>
			<if test="last_modified_date != null">last_modified_date=#{last_modified_date},</if>
		   </trim>
	   	<where>
	       	<if test="reference_table_no != null and reference_table_no != ''">
        		reference_table_no = #{reference_table_no}
        	</if>
        	<if test="currency_used != null and currency_used != ''">
        		AND currency_used = #{currency_used}
        	</if>
        	<if test="language != null and language != ''">
        		AND language = #{language}
        	</if>
	    </where>
    </update>
    
    <select id="getCurrencyUsed" parameterType="hashmap" resultType="hashmap">
       SELECT DISTINCT reference_table_no,reference_table_description,currency_used,
          currency_description,price_decimal,amount_decimal,status_code,exchange_rate_accuracy,
          cost_price_decimal,cost_amount_decimal 
       FROM BAS_CURRENCY_USED 
	   	<where>
	   		<!-- 币种参照表号 -->
			<if test="reference_table_no != null and reference_table_no != ''">
				reference_table_no = #{reference_table_no}
			</if>
			<!-- 使用币种 -->
			<if test="currency_used != null and currency_used != ''">
				AND currency_used = #{currency_used}
			</if>
			<if test="language != null and language != ''">
				AND language = #{language}
			</if>
	    </where>
    
    </select>
</mapper>
