<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.digiwin.app.dao.StoresDao">
	<select id="selectCount" resultType="hashmap" parameterType="stores">
			select count(distinct REQUEST_NO) 
			from STORES_DATA_ACCESS where 1=1
			<if test="OPERATING_ORG!=null and OPERATING_ORG!=''">
				and OPERATING_ORG=#{OPERATING_ORG}
			</if>
			<if test="CHANNEL!=null and CHANNEL!=''">
				and CHANNEL=#{CHANNEL}
			</if>
			<if test="REQUESTED_DATE!=null and REQUESTED_DATE!=''">
				and REQUESTED_DATE=#{REQUESTED_DATE}
			</if>
			<if test="CHANNEL_NAME!=null and CHANNEL_NAME!=''">
				and CHANNEL_NAME=#{CHANNEL_NAME}
			</if>
			<if test="REQUEST_NO!=null and REQUEST_NO!=''">
				and REQUEST_NO=#{REQUEST_NO}
			</if>
			<if test="HOME_ORGANIZATION_NAME!=null and HOME_ORGANIZATION_NAME!=''">
				and HOME_ORGANIZATION_NAME=#{HOME_ORGANIZATION_NAME}
			</if>
			<if test="REQUEST_TYPE!=null and REQUEST_TYPE!=''">
				and REQUEST_TYPE=#{REQUEST_TYPE}
			</if>
			<if test="STORE_TYPE!=null and STORE_TYPE!=''">
				and STORE_TYPE=#{STORE_TYPE}
			</if>
			<if test="SALES_AREA_NAME!=null and SALES_AREA_NAME!=''">
				and SALES_AREA_NAME=#{SALES_AREA_NAME}
			</if>
			<if test="COUNTRY_REGION!=null and COUNTRY_REGION!=''">
				and COUNTRY_REGION=#{COUNTRY_REGION}
			</if>
			<if test="COUNTRY_REGION_NAME!=null and COUNTRY_REGION_NAME!=''">
				and COUNTRY_REGION_NAME=#{COUNTRY_REGION_NAME}
			</if>
			<if test="STORE_NO!=null and STORE_NO!=''">
				and STORE_NO=#{STORE_NO}
			</if>
			<if test="MAIN_INFORMATION!=null and MAIN_INFORMATION!=''">
				and MAIN_INFORMATION=#{MAIN_INFORMATION}
			</if>
	</select>
	<select id="selectLimit" resultType="hashmap" parameterType="stores">
			select distinct REQUEST_NO,OPERATING_ORG,REQUEST_TYPE,STORE_NANME,HOME_ORGANIZATION_NAME,
			REQUESTED_DATE,STORE_NO,CHANNEL_NAME,CHANNEL,SALES_AREA,THE_CONTACT,INDUSTRY_TYPE,
			COUNTER_QTY,LEGAL_ENTITY_ATTRIBUTION,CONTACT_NO,STORES_STATE,STORE_AREA,STATUS_CODE,LANGUAGE,
			LEGAL_ENTITY_ATTRIBUTION,MOBILE_NO,DETAILED_ADDRESS 
			from STORES_DATA_ACCESS where 1=1 
			<if test="OPERATING_ORG!=null and OPERATING_ORG!=''">
				and OPERATING_ORG=#{OPERATING_ORG}
			</if>
			<if test="CHANNEL!=null and CHANNEL!=''">
				and CHANNEL=#{CHANNEL}
			</if>
			<if test="REQUESTED_DATE!=null and REQUESTED_DATE!=''">
				and REQUESTED_DATE=#{REQUESTED_DATE}
			</if>
			<if test="CHANNEL_NAME!=null and CHANNEL_NAME!=''">
				and CHANNEL_NAME=#{CHANNEL_NAME}
			</if>
			<if test="REQUEST_NO!=null and REQUEST_NO!=''">
				and REQUEST_NO=#{REQUEST_NO}
			</if>
			<if test="HOME_ORGANIZATION_NAME!=null and HOME_ORGANIZATION_NAME!=''">
				and HOME_ORGANIZATION_NAME=#{HOME_ORGANIZATION_NAME}
			</if>
			<if test="REQUEST_TYPE!=null and REQUEST_TYPE!=''">
				and REQUEST_TYPE=#{REQUEST_TYPE}
			</if>
			<if test="STORE_TYPE!=null and STORE_TYPE!=''">
				and STORE_TYPE=#{STORE_TYPE}
			</if>
			<if test="SALES_AREA_NAME!=null and SALES_AREA_NAME!=''">
				and SALES_AREA_NAME=#{SALES_AREA_NAME}
			</if>
			<if test="COUNTRY_REGION!=null and COUNTRY_REGION!=''">
				and COUNTRY_REGION=#{COUNTRY_REGION}
			</if>
			<if test="COUNTRY_REGION_NAME!=null and COUNTRY_REGION_NAME!=''">
				and COUNTRY_REGION_NAME=#{COUNTRY_REGION_NAME}
			</if>
			<if test="STORE_NO!=null and STORE_NO!=''">
				and STORE_NO=#{STORE_NO}
			</if>
			<if test="MAIN_INFORMATION!=null and MAIN_INFORMATION!=''">
				and MAIN_INFORMATION=#{MAIN_INFORMATION}
			</if>
			order by REQUEST_NO asc  LIMIT #{startIndex}, #{pageSize}
		
	</select>
	<select id="addSite"  parameterType="stores">
		<![CDATA[
			INSERT INTO STORES_DATA_ACCESS
			(OPERATING_ORG, APPLICATION_ORG, REQUEST_NO, REQUESTED_DATE, REQUEST_TYPE,STORE_NO,VAT_CODE,
			LEGAL_ENTITY,ORG_SIMPLE_CODE,COUNTRY_REGION,LISTED_COMPANY_NO,OFFICE_CALENDAR_CATEGORY,
			EXCLUSIVE_NATIONAL_FUNCTIONS,DATE_DISPLAY_FORMAT,MAIN_CURRENCY_NO,LEGAL_ENTITY_ATTRIBUTION,
			TIME_ZONE_NO,BUSINESS_REGISTRATION_NO,CORPORATION_REPRESENTATIVE,REGISTER_CAPITAL,
			NUMBER_AMOUNT_DISPLAY_FORMAT,CUSTOMER_VENDOR_NO,STORES_STATE,INDUSTRY_TYPE,OPENING_DATE,
			CLOSED_SHOP_DATE,STORE_AREA,SALES_AREA,OTHER_ATTR1,OTHER_ATTR2,OTHER_ATTR3,OTHER_ATTR4,
			OTHER_ATTR5,OTHER_ATTR6,OTHER_ATTR7,OTHER_ATTR8,OTHER_ATTR9,OTHER_ATTR10,STATUS_CODE,
			DATA_OWNER,DATA_OWNER_DEPT,DATA_CREATED_BY,DEPARTMENT,DATA_CREATED_DATE,MODIFIED_BY,
			LAST_MODIFIED_DATE,DATA_CONFIRMED_BY,DATA_CONFIRMED_DATE,VALID,STORE_TYPE,HOME_ORGANIZATION,CHANNEL,
			REFERENCE_TABLE_NO,PROVINCE,CITY,COUNTY,STREET,DETAILED_ADDRESS,POSTCODE,THE_CONTACT,
			CONTACT_NO,MOBILE_NO,Email,APPLICANT,REQUESTED_DEPARTMENT,COUNTER_QTY,LANGUAGE,STORE_NANME,
			STORE_FULL_NAME,APPLICANT_ORG_NAME,APPLICANT_NAME,REQUESTED_DEPARTMENT_NAME,HOME_ORGANIZATION_NAME,
			CHANNEL_NAME,SALES_AREA_NAME,COUNTRY_REGION_NAME,PROVINCE_NAME,CITY_NAME,COUNTY_NAME,STREET_NAME,
			LEGAL_NAME,TIME_ZONE_NAME,REFERENCE_TABLE_NAME,MAIN_CURRENCY_NAME,CUSTOMER_VENDOR_NAME,OTHER_ATTR1_NAME,
			OTHER_ATTR2_NAME,OTHER_ATTR3_NAME,OTHER_ATTR4_NAME,OTHER_ATTR5_NAME,OTHER_ATTR6_NAME,OTHER_ATTR7_NAME,
			OTHER_ATTR8_NAME,OTHER_ATTR9_NAME,OTHER_ATTR10_NAME,INFORMATION_ID,MAIN_INFORMATION,COMMUNICATION_TYPE,
			BRIEF_DESCRIPTION,COMMUNICATION_CONTENT)
			VALUES(#{OPERATING_ORG}, #{APPLICATION_ORG}, #{REQUEST_NO}, #{REQUESTED_DATE}, 
			#{REQUEST_TYPE}, #{STORE_NO}, #{VAT_CODE}, #{LEGAL_ENTITY}, #{ORG_SIMPLE_CODE}, 
			#{COUNTRY_REGION}, #{LISTED_COMPANY_NO}, #{OFFICE_CALENDAR_CATEGORY}, 
			#{EXCLUSIVE_NATIONAL_FUNCTIONS}, #{DATE_DISPLAY_FORMAT}, #{MAIN_CURRENCY_NO}, 
			#{LEGAL_ENTITY_ATTRIBUTION}, #{TIME_ZONE_NO}, #{BUSINESS_REGISTRATION_NO}, 
			#{CORPORATION_REPRESENTATIVE},#{REGISTER_CAPITAL}, 
			#{NUMBER_AMOUNT_DISPLAY_FORMAT}, #{CUSTOMER_VENDOR_NO}, 
			#{STORES_STATE}, #{INDUSTRY_TYPE}, #{OPENING_DATE}, #{CLOSED_SHOP_DATE}, 
			#{STORE_AREA}, #{SALES_AREA}, #{OTHER_ATTR1}, 
			#{OTHER_ATTR2}, #{OTHER_ATTR3}, #{OTHER_ATTR4}, #{OTHER_ATTR5}, 
			#{OTHER_ATTR6}, #{OTHER_ATTR7}, #{OTHER_ATTR8}, 
			#{OTHER_ATTR9}, #{OTHER_ATTR10}, #{STATUS_CODE}, #{DATA_OWNER}, #{DATA_OWNER_DEPT}, 
			#{DATA_CREATED_BY}, #{DEPARTMENT},#{DATA_CREATED_DATE}, #{MODIFIED_BY}, #{LAST_MODIFIED_DATE}, 
			#{DATA_CONFIRMED_BY},#{DATA_CONFIRMED_DATE}, 
			#{VALID}, #{STORE_TYPE}, #{HOME_ORGANIZATION}, #{CHANNEL}, 
			#{REFERENCE_TABLE_NO}, #{PROVINCE}, #{CITY}, #{COUNTY}, #{STREET}, 
			#{DETAILED_ADDRESS}, #{POSTCODE}, #{THE_CONTACT}, #{CONTACT_NO}, #{MOBILE_NO}, 
			#{Email}, #{APPLICANT}, #{REQUESTED_DEPARTMENT}, #{COUNTER_QTY}, #{LANGUAGE}, 
			#{STORE_NANME}, #{STORE_FULL_NAME}, #{APPLICANT_ORG_NAME}, #{APPLICANT_NAME}, 
			#{REQUESTED_DEPARTMENT_NAME}, #{HOME_ORGANIZATION_NAME}, #{CHANNEL_NAME}, 
			#{SALES_AREA_NAME}, #{COUNTRY_REGION_NAME},#{PROVINCE_NAME}, #{CITY_NAME}, #{COUNTY_NAME}, 
			#{STREET_NAME}, #{LEGAL_NAME}, #{TIME_ZONE_NAME}, #{REFERENCE_TABLE_NAME}, 
			#{MAIN_CURRENCY_NAME}, #{CUSTOMER_VENDOR_NAME},#{OTHER_ATTR1_NAME}, #{OTHER_ATTR2_NAME}, 
			#{OTHER_ATTR3_NAME}, #{OTHER_ATTR4_NAME}, #{OTHER_ATTR5_NAME}, #{OTHER_ATTR6_NAME}, 
			#{OTHER_ATTR7_NAME}, #{OTHER_ATTR8_NAME}, #{OTHER_ATTR9_NAME}, #{OTHER_ATTR10_NAME}, 
			#{INFORMATION_ID},#{MAIN_INFORMATION}, #{COMMUNICATION_TYPE}, #{BRIEF_DESCRIPTION}, 
			#{COMMUNICATION_CONTENT})
		]]>
	</select>
	<delete id="deleteSite" parameterType="hashmap">
	   delete from STORES_DATA_ACCESS
	   <where>
	   <if test="list != null">
	      REQUEST_NO IN
	      <foreach item="item" index="index" collection="list" open="(" separator=", " close=") ">
	        #{item}
	      </foreach>
	   </if>
	   <if test="language != null and language != ''">
	   AND language = #{language}
	   </if>
	   </where>
	</delete>
	<update id="auditSite" parameterType="hashmap">
	   <if test="site != null">
	        update STORES_DATA_ACCESS
	        set STATUS_CODE=#{site[0].STATUS_CODE},DATA_CONFIRMED_BY=#{site[0].DATA_CONFIRMED_BY},
	        DATA_CONFIRMED_DATE=#{site[0].DATA_CONFIRMED_DATE}
	        where REQUEST_NO in 
	      <foreach item="item" index="index" collection="site" open="(" separator=", " close=") ">
	        #{item.REQUEST_NO}
	      </foreach>
	   </if>
	</update>
	<select id="selectall" resultType="stores" parameterType="stores">
			select distinct REQUEST_NO,LANGUAGE
			from STORES_DATA_ACCESS
			where REQUEST_NO=#{REQUEST_NO} and LANGUAGE =#{LANGUAGE}
	</select>
	<select id="selectinformationid" resultType="java.lang.String" parameterType="stores">
			select max(INFORMATION_ID)
			from STORES_DATA_ACCESS
			where REQUEST_NO=#{REQUEST_NO} and LANGUAGE =#{LANGUAGE}
	</select>
</mapper>
